<!-- Header -->
<header>
  <div class="main-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Welcome to Ocho Tickets
          </h1>
          <h4 class="welcome-message">
            Buy and Sell Tickets to the World's Craziest Events!
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<div class="container">
  <br>
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Receive the latest updates on all your favorite events!</h4>
      </div>
      <div class="col-md-4">
        <%= link_to "Become an Ocho MVP", account_new_path,
            class: "btn btn-lg btn-success btn-block"%>
      </div>
    </div>
  </div>
  <hr>
  <h2 class="page-header featured">Featured Categories</h2>
  <div class="row">
    <div class="col-md-3">

      <div id="sports-panel" class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>Not Quite Sports</h4>
        </div>
        <div class="panel-body" id="index-sports">
          <%= link_to "Shop Now", "/categories/not-quite-sports",
                      class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="music-panel" class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>80's German SynthPop</h4>
        </div>
        <div class="panel-body" id="index-music">
          <%= link_to "Shop Now", "/categories/80-s-german-synthpop",
                      class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div id="special-panel" class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>Competitive Eating</h4>
        </div>
        <div class="panel-body" id="index-special">
          <%= link_to "Shop Now", "/categories/competitive-eating",
                      class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
  <!-- Featured Products Section -->
  <div class="row featured-event">
    <%= render "partials/product_carousel" %>
  </div>
  <hr>
</div><!-- /.container -->
