<table class="table table-hover sort">
  <thead>
    <tr>
      <th>Product Details</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.event_orders.each do |event_order_item| %>
      <tr>
        <td>
          <a href="<%= vendor_event_path(vendor: event_order_item.event.user.url,
                                         id: event_order_item.event_id) %>">
            <%= event_order_item.event.name %>
          </a>
        </td>
        <td><%= @order.status %></td>
        <td><%= event_order_item.quantity %></td>
        <td><%= number_to_currency(event_order_item.unit_price) %></td>
        <td><%= number_to_currency(event_order_item.subtotal) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan=3></td>
      <th>Total</th>
      <th class="total"><%= number_to_currency(@order.total) %></th>
    </tr>
  </tbody>
</table>
