<div class="container">
  <div class="page-header featured">
    <% if !@event.nil? %>
    <h2> <%= @event.user.username %>'s Ticket Shop</h2>
    <h6> <%= @event.user.email %> </h6>
    <% if validate_store_admin && current_user.url == params[:vendor]%>
    <%= link_to "Create New Event", new_vendor_event_path,
      class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <% if !validate_store_admin %>
  <div class="row">
    <div class="thumbnail col-md-12">
      <%= image_tag @event.image_url, class: "img-responsive col-md-5",
      alt: "#{@event.name} image" %>
      <div class="caption-full col-md-7">
        <h3><%= @event.name %></h3>
        <p><%= @event.description %></p>
        <h4><%= number_to_currency(@event.price) %></h4><br>
        <% if validate_store_admin %>
        <%= render partial: "partials/store_admin_buttons"%>
        <% else %>
        <%= render partial: "partials/add_to_cart" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %> <!-- /.row -->
  <div class="container hidden-xs">
    <div class="col-lg-12">
      <% if !validate_store_admin %>
      <h2 class="page-header featured">More Events from <%=@event.user.username %> </h2>
      <% else %>
      <h2 class="page-header featured">All Events</h2>
      <% end %>
    </div>
    <div class="col-md-12">
      <div id="product-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <%= render partial: "partials/store_events",
              collection: @featured_events,
              as: :featured_event %>
            </div><!--.row-->
          </div><!--.item-->
        </div><!--.carousel-inner-->
      </div><!--.Carousel-->
    </div>
  </div>
  <script>
  $(document).ready(function() {
    $('#product-carousel').carousel({
      interval: 5000
    })
  });
  </script>
</div>
<% else %>

<% if validate_store_admin && current_user.url == params[:vendor]%>
<div class = "row">
<%= link_to "Create New Event", new_vendor_event_path,
  class: "btn btn-primary btn-lg new-event-user" %>
<% end %>
</div>
<% end %><!-- /.container -->
