<div class="container">
  <div class="page-header featured">
    <h2> <%= @event.name %></h2>
    <h6> <%= @event.description %> </h6>

  </div>
  <%= link_to "#{@event.user.username}'s Shop", "/#{@event.user.url}",
              class: "btn btn-lg btn-primary pull-left vendor-btn" %>
  <div class="row">

    <div class="thumbnail col-md-12">
      <%= image_tag @event.image_url, class: "img-responsive col-md-5",
                    alt: "#{@event.name} image" %>
      <div class="caption-full col-md-7">
        <h3><%= @event.name %></h3>
        <p><%= @event.description %></p>
        <h4><%= number_to_currency(@event.price) %></h4><br>
        <% if validate_store_admin %>
        <%= render partial: "partials/store_admin_buttons"%>
        <% else %>
        <%= render partial: "partials/add_to_cart" %>
        <% end %>
      </div>
    </div>
  </div> <!-- /.row -->


  <div class="container hidden-xs">
    <div class="col-lg-12">
      <h2 class="page-header featured"></h2>
    </div>
    <div class="row">
      <%= render "partials/product_carousel" %>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $('#product-carousel').carousel({
      interval: 5000
    })
  });
  </script>



</div> <!-- /.container -->
