<div class="container">
  <div class="page-header featured">
  </div>
  <div class="row">

    <div class="thumbnail col-md-12">
      <%= image_tag @event.image_url, class: "img-responsive col-md-5",
                    alt: "#{@event.name} image" %>
      <div class="caption-full col-md-7">
        <h3><%= @event.name %></h3>
        <p><%= @event.description %></p>
        <h4><%= number_to_currency(@event.price) %></h4><br>
        <%= render partial: "partials/add_to_cart" %>
      </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
